<% title "Comment" %>

<p>
  <strong>User:</strong>
  <%=h @comment.user.username %>
</p>
<p>
  <strong>Post:</strong>
  <%=h @comment.post.title %>
</p>
<p>
  <strong>Comment:</strong>
  <%=h @comment.content %>
</p>

<p>
  <%= link_to "Edit", edit_comment_path(@comment) %> |
  <%= link_to "Destroy", @comment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", comments_path %>
</p>
