<% title "Bills" %>

<table>
	<tr>
		<th><%= sort_link "Number", :title %></th>
		<th>Title</th>
		<th><%= sort_link "Last Action", :last_action_on %></th>
		<th><%= sort_link "Status", :status %></th>
		<th><%= sort_link "Cosp.", :cosponsors_count %></th>
		<th><%= sort_link "Rating", :average_rating %></th>
	</tr>
<%= render @bills %>
</table>
<%= will_paginate @bills %>

<% if admin? %>
	<h3>Deleted Bills</h3>
	<%= render @deleted_bills %>
<% end %>
