<% title "Bills" %>

<p>The following are bills currently in the U.S. House
	or Senate that relate to the blind and visually impaired.
	This list is updated daily. Click on a heading to sort
	the list by that heading. Click on a Bill Number (the
	first column) to get more information or to read the
	bill text.</p>

<table>
	<tr>
		<th><%= sort_link "Number", :bill_number %></th>
		<th><%= sort_link "Title", :official_title %></th>
		<th><%= sort_link "Last Action", :last_action_on %></th>
		<th><%= sort_link "Status", :state %></th>
		<th><%= sort_link "Cosp.", :cosponsors_count %></th>
		<th><%= sort_link "Rating", :average_rating %></th>
		<th><%= sort_link "Refs", :blind_count %></th>
	</tr>
	<% for bill in @bills %>
	<tr class="<%= cycle('gray', '') %>">
		<td class="nowrap"><%= link_to bill.full_number, bill %></td>
		<td><%= truncate(bill.official_title, :length => 150) %></td>
		<td class="nowrap"><%= bill.last_action_on.strftime("%m/%d/%y") %></td>
		<td><%= bill.state.gsub(":", ": ").downcase %></td>
		<td class="nowrap"><%= bill.cosponsors.count %></td>
		<td class="nowrap"><%= bill.rating.zero? ? "N/A" : bill.rating %></td>
		<td class="nowrap">
			<%= bill.blind_count %> in<br />
			<%= number_with_delimiter(bill.text_word_count) %>
		</td>
		<% if app_admin? %>
		<td><%= link_to "Hide", hide_bill_path(bill), :method => :put, :confirm => "Hide this Bill? It will be ignored by the system." %></td>
		<td><%= link_to "Destroy", bill, :method => :delete, :confirm => "Destroy this Bill? It may be put back on the next cron search." %></td>
		<% end %>
	</tr>
	<% end %>
</table>
<%= will_paginate @bills %>

<% if app_admin? %>
	<p><%= link_to "Add Bill", new_bill_path %></p>

	<% unless Bill.hidden.blank? %>
		<h3>Hidden Bills</h3>
		<% Bill.hidden.each do |bill| %>
			<p><%= bill.title + " " + link_to("Unhide", bill_path(bill), :method => :put, :confirm => "Unhide this bill?") %></p>
		<% end %>
	<% end %>
<% end %>

