<div>
	<%= post.created_at.strftime("%I:%M %p") %>
	(<%= post.user.username %>)
	<strong><%= link_to post.title, post %></strong>
	<div>
	<%= markdown h(post.body.truncate_words 30) %>
	</div>
	<div>
		<%= link_to "#{post.comments.count} comments.", post %>
	</div>
	
	<%= delete_link(post) %>
</div>
