<div>
	<%= post.created_at.strftime("%I:%M %p") %>
	(<%= link_to post.user.username, post.user %>)
	<strong><%= link_to post.title, post %></strong>
	<div>
	<%= markdown h(post.body.truncate_words 100) %>
	</div>
	<div>
		<%= link_to "#{post.comments.count} comments.", post %>
	</div>
	
</div>
