<% title "Blog" %>

<% @post_months.each do |month, posts| %>
	<h3><%= month.strftime("%A, %B %e") %></h3>
	<%= render posts %>
<% end %>

<% if current_user %>
	<p><%= link_to "New Blog Entry", new_post_path %></p>
<% end %>

<% if app_admin? %>
	<h3>Unpublished Posts</h3>
	<%= render Post.unpublished %>
	
	<h3>Deleted Posts</h3>
	<% form_tag destroy_multiple_posts_path, :method => :delete do %>
	<%= render Post.deleted %>
	<p><%= submit_tag "Destroy Selected", :confirm => "Permanently destroy all selected Posts?" %></p>
	<% end %>
<% end %>

