<% title @post.title %>

<p>
	By <strong><%= link_to @post.user.username, @post.user %></strong>, <%=h @post.created_at.strftime("%B %d, %Y %I:%M %p") %>
</p>

<p>
	<%= markdown h(@post.body) %>
</p>

<p>
	<strong>Keywords:</strong> 
	<% @post.tags.each do |tag| %>
		<%= tag.name %>,
	<% end %>
</p>

<% unless @post.comments.empty? %>
  <h4 id="comments_count">
    <%= pluralize @post.comments.approved.size, 'comment' %>
  </h4>
  <div id="comments">
    <%= render @post.comments.approved %>
  </div>
<% end %>

<div>
  <%= render :partial => 'comments/form' %>
</div>

<p>
	<% if admin? || @post.user == current_user %>
  	<%= link_to "Edit", edit_post_path(@post) %> |
  	<%= link_to "Delete", @post, :confirm => 'Really delete this post?', :method => :delete %> |
	<% end %>
  <%= link_to "View All", posts_path %>
</p>
