<% form_for @suggestion do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :kind %><br />
		<%= f.select :kind, ["Legislative", "Activism", "Social", "Web Site"] %>
  </p>
  <p>
    <%= f.label :content, "Suggestion (140 characters max)" %><br />
    <%= f.text_field :content, :size => 50, :maxlength => 140 %>
  </p>
	<%# unless current_user.posts.published.empty? %>
  <p>
    <%= f.label :post_id, "Related Blog Post" %><br />
    <%= f.collection_select :post_id, Post.all, :id, :title_with_date, :include_blank => "(none)" %>
  </p>
	<%# end %>
  <p><%= f.submit %></p>
<% end %>
