<% title "Suggestions" %>

<% @suggestion_kinds.sort.each do |kind, suggestions| %>
  <h3><%= kind %></h3>
	<ul>
  <% for suggestion in suggestions %>
  	<li><%= suggestion.content %>
		<%= link_to "(#{suggestion.post.title})", suggestion.post if suggestion.post %></li>
  <% end %>
	</ul>
<% end %>

<p>Post a suggestion! It can be up to 140 characters long.</p>

<%= render "form" %>

<p><%= link_to "New Suggestion", new_suggestion_path %></p>
